{% extends 'base.html' %}

{% block title %}
Visuals - Academica
{% endblock %}

{% block styles %}
<style>
  .header {
    text-align: left;
    padding-left: 30px;
    padding-top: 65px;
    padding-bottom: 20px;
    background-color: #f8f9fa; /* Light gray background */
  }
  .metric-container {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f8f9fa; /* Light gray background */
    text-decoration: none; /* Remove underline */
    color: black; /* Set text color to black */
    display: block; /* or display: flex; based on your layout needs */
    margin-bottom: 20px; /* Adjust this as needed to reduce space between cards */
  }
  .card {
    background-color: #ffff; /* White background */
    border-radius: 8px; /* Rounded corners for the boxes */
    padding: 15px;
    text-align: center; /* Center the text inside the boxes */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Box shadow for depth */
  }
  .card:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
  }
  /* Chart container */
  .chart-container {
    width: 75%; /* Adjust this to make the chart narrower */
    margin: 20px auto; /* Centering the chart container */
}
  canvas {
    width: 100% !important;
    height: 100% !important;
  }
</style>


{% endblock %}

{% block content %}
<div class="header">
  <h2>Election Results by Position</h2>
</div>

{% for position, candidates in results_by_position.items() %}
<div class="header" style="padding-top: 30px; padding-bottom: 10px;">
  <h5>{{ position }}</h5>
  <div class="chart-container">
    <canvas id="chart-{{ loop.index }}"></canvas>
    {% for name, count in candidates %}
    <div class="metric-container">
      <div class="card">
        <h5 class="card-title">{{ name }}</h5>
        <p class="card-text">Votes: {{ count }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
var ctx = document.getElementById('chart-{{ loop.index }}').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for name, count in candidates %}'{{ name }}',{% endfor %}],
        datasets: [{
            label: '# of Votes',
            data: [{% for name, count in candidates %}{{ count }},{% endfor %}],
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
{% endfor %}
{% endblock %}


